# =========================
# Build output
# =========================
build/
target/
out/

# =========================
# Gradle
# =========================
.gradle/
.gradle-user-home/

# =========================
# IntelliJ / VS Code
# =========================
.idea/
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Logs
# =========================
*.log

# =========================
# Operating systems
# =========================
.DS_Store
Thumbs.db

# =========================
# Runtime
# =========================
run/

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp